header{
    width: 100vw;
    padding: 10vw;
    background: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .heading{
        text-align: center;
        margin-top: 3rem;
        font-size: 3vw;
        color: var(--DarkGrayishBlue);
        transform: translateY(20vh);
        opacity: 0;
        animation: load 0.2s 5.5s 1 forwards;
    }
    .subheading{
        color: var(--GrayishBlue);
        font-weight: 200;
        font-size: 1.5vw;
        width: 65%;
        text-align: center;
        transform: translateY(20vh);
        opacity: 0;
        animation: load 0.2s 5.7s 1 forwards;

    }
    .header-action{
        margin: 2rem 0rem;
        transform: translateY(20vh);
        opacity: 0;
        animation: load 0.2s 6s 1 forwards;
        .btn{
            padding: 1vw 2vw;
            color: white;
            border-radius: 100px;
            font-weight: 600;
            margin: 0px 0.5rem;
            font-size: 1.5vw;
            border: none;
        }
        .downloadIOS{
            background-color: var(--StrongCyan);
            // border-color: var(--StrongCyan);
            box-shadow: 0px 5px 10px -2px rgba(38, 186, 164,0.5);
            &:hover{
                cursor: pointer;
                box-shadow: 0px 5px 2px -2px rgba(38, 186, 164,0.5);
                opacity: 0.9;
            }
        }
        .downloadMAC{
            background-color: var(--LightBlue);
            // border-color: var(--LightBlue);
            box-shadow: 0px 5px 10px -2px rgba(97, 115, 255,0.5);
            &:hover{
                cursor: pointer;
                box-shadow: 0px 5px 2px -2px rgba(97, 115, 255,0.5);
                opacity: 0.9;
            }
        }
    }
}
.showmobile{
    display: none;
}

@media (max-width:800px){
    header{
        width: 100vw;
        padding: 10vw;
        background: url("images/bg-header-mobile.png");
        background-repeat: no-repeat;
        background-size: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heading{
            margin-top: 3rem;
            font-size: 1.6rem;
            color: var(--DarkGrayishBlue);
        }
        .subheading{
            color: var(--GrayishBlue);
            font-weight: 200;
            font-size: 1rem;
            width:100%;
            text-align: center;
    
        }
        .header-action{
            margin: 1rem 0rem;
            display: flex;
            flex-direction: column;
            .btn{
                width: 80vw;
                padding: 1rem 3rem;
                color: white;
                border-radius: 100px;
                font-weight: 600;
                margin: 0.5rem 0rem;
                font-size: 1rem;
                border: none;
            }
            .downloadIOS{
                background-color: var(--StrongCyan);
                // border-color: var(--StrongCyan);
                box-shadow: 0px 5px 10px -2px rgba(38, 186, 164,0.5);
            }
            .downloadMAC{
                background-color: var(--LightBlue);
                // border-color: var(--LightBlue);
                box-shadow: 0px 5px 10px -2px rgba(97, 115, 255,0.5);
            }
        }
    }
    .showmobile{
        display: block;
    }
}
@keyframes load {
    0%{
        transform: translateY(20vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}